.row {  
    display: flex;
    flex-wrap: wrap;
}

body {
    background-color: #f8f9fa;    
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
         -o-user-select: none;
        -ms-user-select: none;
            user-select: none;
    
}

canvas {
    left: 0;
    position: absolute;
    top: 0;
}

#message {
    color: #e2e2de;
    font-size: 32px;
    letter-spacing: 2px;
    margin-top: -0.5em;
    position: fixed;
    text-align: center;
    text-shadow: 0 -1px 0 #d3d3d1;
    top: 50%;
    width: 100%;
}

.dg .ac {
  z-index: 2;
}

/* TOP BANNER */

#banner {  
    margin-bottom: 50px;
    position: relative;
}

#cover {  
    z-index: 1;
    width: 100%; 
}

#logo { 
    position: absolute; 
    top: 52%; 
    left: 7%; 
    z-index: 3; 
    max-width: 52%;
    max-height: 52%;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255, 1, 37),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
} 

 #main-nav {
    font-size: 1.14em;
    width: 46%;
    margin-left: auto; 
    margin-right: 0;
    right: 1%; 
    margin-bottom: 10px;
    background-color: #ff8623; 
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #222;
}

.navbar-light .nav-item {
    padding: 0 6px;
}

/* TOP BANNER END */

/* BUTTONS, TEXT, BACKGROUND STYLES */

.main-btn {
    color: #fff;
    background-color: #ff0125;
    border-color: #ff0125;
}

.main-btn:hover {
    color: #222;
    background-color: #01ffdb;
    border-color: #ff0125;
}

.inverse-main-btn {
    color: #ff0125;
    background-color: #fff;
    border-color: #fff;    
}
.inverse-main-btn:hover {
    color: #222;
    background-color: #01ffdb;
    border-color: #222;
} 

.aasha-red-bg {
    background-color: #ff0125;
}

.aasha-red-text {
    color: #ff0125;
}

/* BUTTONS, TEXT, BACKGROUND STYLES END */

/* FEED */

.feedposts {
    margin-bottom: 50px;
}

.feed-image {
    width: 100%;
    height: 55%;
    margin-bottom: 10px;
    border: none;
    padding: 0;
}

.blog-text {
    margin-right: 3%;
}

.blog-author {
    opacity: 0.9;
    color: #4b4c4d;
    margin: 5px 0 5px;
}

/* FEED END */

/* FOOTER */

#footer {
    margin-top: 30px;
}

#footerbanner {
    width: 100%;
    height: auto;
}

.footer-basic {
    padding:40px 0 20px;
    background-color:#01ffdb;
    color:#4b4c4d;
}
  
.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
    padding-bottom: 5px;
}
  
.footer-basic li {
    padding:0 10px;
}
  
.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}
  
.footer-basic ul a:hover {
    opacity:1;
}
  
.footer-basic .social {
    text-align:center;
    padding-bottom:25px;
}
  
.footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ff0125;
    margin:0 8px;
    color: #fff;
    opacity:1;
    background-color: #ff0125;
}
  
.footer-basic .social > a:hover {
    opacity:0.9;
    color: #ff0125;
    background-color: #fff;
}
  
.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:16px;
    color:#222;
    margin-bottom:0;
}

/* FOOTER END */

/* BLOG PAGE */

#blog-banner
{
    background-size: cover;
    width: 100%;   
}

#blog-nav {
    padding-bottom: 0;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
}

#blog-nav > .navbar-collapse > .navbar-nav > .nav-link {
    margin: auto 22px auto 22px;
    padding: 0.5rem 2rem;
}

#blog-nav > .navbar-nav {
    margin-bottom: 1em;
}

.navbar-border {
    border-bottom: 0.1em solid rgba(58, 44, 44, 0.11);
    width: 11%;    
}

.blog-header-image {

}

.grid-container1 {
    display: grid;
    width: 60%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin: 30px auto 15px auto;
}

.grid-item > img { 
    display: block;
    object-fit: fill;
    max-width: 100%;
    flex: 1;
    min-height: 100%;
}

.blogs-img-border {
    border: 0.5px solid #858585;
}

.grid-container1 > .grid-item {
    position: relative;
    font-size: calc(1.3rem + 0.6vw);
}

.grid-container1 > .grid-item > img { 
    height:450px;
    width:100%;
}

.grid-container1 > .grid-item > .big-img-content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    display: flex;
    align-items: center;
    padding: 5% 15% 5% 5%;
    background: rgb(0, 0, 0); /* Fallback color */
    background: linear-gradient(
    to bottom,
    hsla(0, 0%, 100%, 0.3) 0%,
    hsla(0, 0%, 98.73%, 0.301) 8.1%,
    hsla(0, 0%, 95.14%, 0.302) 15.5%,
    hsla(0, 0%, 89.6%, 0.305) 22.5%,
    hsla(0, 0%, 82.46%, 0.309) 29%,
    hsla(0, 0%, 74.07%, 0.313) 35.3%,
    hsla(0, 0%, 64.8%, 0.318) 41.2%,
    hsla(0, 0%, 54.99%, 0.323) 47.1%,
    hsla(0, 0%, 45.01%, 0.327) 52.9%,
    hsla(0, 0%, 35.2%, 0.332) 58.8%,
    hsla(0, 0%, 25.93%, 0.337) 64.7%,
    hsla(0, 0%, 17.54%, 0.341) 71%,
    hsla(0, 0%, 10.4%, 0.345) 77.5%,
    hsla(0, 0%, 4.86%, 0.348) 84.5%,
    hsla(0, 0%, 1.27%, 0.349) 91.9%,
    hsla(0, 0%, 0%, 0.35) 100%
    );
    color: #fff; 
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    width: 100%; 
    margin: 0;
    height: 100%;
    text-decoration: none;
}

.grid-container1 > .grid-item > .small-img-content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    display: flex;
    align-items: center;
    padding: 5% 15% 5% 5%;
    background: rgb(0, 0, 0); /* Fallback color */
    background: linear-gradient(
    to bottom,
    hsla(0, 0%, 100%, 0.3) 0%,
    hsla(0, 0%, 98.73%, 0.301) 8.1%,
    hsla(0, 0%, 95.14%, 0.302) 15.5%,
    hsla(0, 0%, 89.6%, 0.305) 22.5%,
    hsla(0, 0%, 82.46%, 0.309) 29%,
    hsla(0, 0%, 74.07%, 0.313) 35.3%,
    hsla(0, 0%, 64.8%, 0.318) 41.2%,
    hsla(0, 0%, 54.99%, 0.323) 47.1%,
    hsla(0, 0%, 45.01%, 0.327) 52.9%,
    hsla(0, 0%, 35.2%, 0.332) 58.8%,
    hsla(0, 0%, 25.93%, 0.337) 64.7%,
    hsla(0, 0%, 17.54%, 0.341) 71%,
    hsla(0, 0%, 10.4%, 0.345) 77.5%,
    hsla(0, 0%, 4.86%, 0.348) 84.5%,
    hsla(0, 0%, 1.27%, 0.349) 91.9%,
    hsla(0, 0%, 0%, 0.35) 100%
    );
    color: #fff; 
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    width: 100%; 
    margin: 0;
    height: 100%;
    text-decoration: none;
}

.grid-container1 > .grid-item-1 {
    grid-column: 1 / span 2;
}
  
.grid-container1 > .grid-item-4 {
    grid-column: 2 / span 2;
}

@media (min-width: 768px) and (max-width: 1178px) {

    .grid-container1 > .grid-item > h3{
        font-size: calc(1.3rem + 0.3vw);
    }
    
}

.grid-container-2 {
    display: grid;
    grid-template-columns: 31.75% 31.75% 31.75%; 
    width: 60%;
    grid-gap: 21px;
    margin: 30px auto 15px auto;   
}

.grid-container-2 > .grid-item {
    margin-top: 30px;
}

.grid-container-2 > .grid-item > img { 
    height:265px;
    width:100%;
}

.blogs-text {
    padding-top: 15px;
}

.blogs-sub-header {
    font-size: 18px;
    color: rgba(0,0,0,.54);
    fill: rgba(0,0,0,.54);
}

.blogs-author {
    padding-top: 5px;
}

.author-name {
    text-decoration: none;
    color: #599297;
    font-weight: 400;
    font-style: normal;
}

.date-readtime {
    color: rgba(0,0,0,.54);
    fill: rgba(0,0,0,.54);    
}

/* BLOG PAGE END */

/* CONTENT PAGE */

#blogs {
    width: 65%;
    margin: 32px auto auto auto;
}

.author-info {
    display: grid;
    grid-template-columns: auto auto;
}

.author-socials {
    justify-self: end;
    font-size: 23px;
}

i {
    text-decoration: none;
}

.ffa {
    color: #3b5998;
}

.tfa {
    color: #1da1f2;
}

.lfa {
    color: #0a66c2;
}

/* CONTENT PAGE END */

/* CHANGE LAYOUT FOR MOBILE DEVICES */

@media (min-width: 320px) and (max-width: 768px) {
    
    .row {   
      flex-direction: column;
    }

    #pc-nav {
        display: none;
    }

    #mobile-nav {
        display: block;
        margin-bottom: 2em;
    }

    #mobile-nav > .navbar {
        width: 100%;
        right: 0;
        left: 0;
    }

}

@media (min-width: 768px) {

    .row {   
        flex-direction: row;
      }
    
    #mobile-nav {
        display: none;
    }  
      
}

/* CHANGE LAYOUT FOR MOBILE DEVICES END */
