/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

* {
    -webkit-box-sizing:border-box;
            box-sizing:border-box
}

.row {  
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

body {
    background-color: #f8f9fa;    
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
         -o-user-select: none;
        -ms-user-select: none;
            user-select: none;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

canvas {
    left: 0;
    position: absolute;
    top: 0;
}

#message {
    color: #e2e2de;
    font-size: 32px;
    letter-spacing: 2px;
    margin-top: -0.5em;
    position: fixed;
    text-align: center;
    text-shadow: 0 -1px 0 #d3d3d1;
    top: 50%;
    width: 100%;
}

.dg .ac {
  z-index: 2;
}

.nav-shadow {
    -webkit-box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
            box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
}

/* TOP BANNER */

#banner {  
    margin-bottom: 50px;
    position: relative;
}

#cover {  
    z-index: 1;
    width: 100%; 
}

#logo { 
    position: absolute; 
    top: 52%; 
    left: 7%; 
    z-index: 3; 
    max-width: 52%;
    max-height: 52%;
    -webkit-box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255, 1, 37),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
            box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255, 1, 37),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
} 

#main-nav {
    font-size: 1.14em;
    margin-left: auto; 
    margin-right: 0;
    margin-bottom: 10px;
    background-color: #ff8623; 
    color: #fff;
}

#main-nav .nav-link {
    padding-right: 12px;
    color: rgba(0, 0, 0, 0.80);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #2c3e50;
}

.navbar-light .nav-item {
    padding: 0 6px;
}

/* TOP BANNER END */

/* BUTTONS, TEXT, BACKGROUND STYLES */

.main-btn {
    color: #fff;
    background-color: #f21f42;
    border-color: #ff0125;
}

.main-btn:hover {
    color: #222;
    background-color: #01ffdb;
    border-color: #f21f42;
}

.inverse-main-btn {
    color: #f21f42;
    background-color: #fff;
    border-color: #fff;    
}

.inverse-main-btn:hover {
    color: #222;
    background-color: #01ffdb;
    border-color: #222;
} 

.aasha-red-bg {
    background-color: #f21f42;
}

.aasha-red-text {
    color: #f21f42;
}

/* BUTTONS, TEXT, BACKGROUND STYLES END */

/* FEED */

.feedposts {
    margin-bottom: 50px;
}

.feed-image {
    width: 100%;
    height: 55%;
    margin-bottom: 10px;
    border: none;
    padding: 0;
}

.blog-text {
    margin-right: 3%;
}

.blog-author {
    opacity: 0.9;
    color: #4b4c4d;
    margin: 5px 0 5px;
}

/* FEED END */

/* FOOTER */

#footer {
    margin-top: 30px;
}

#footerbanner {
    width: 100%;
    height: auto;
}

.footer-basic {
    padding:0 0 20px;
    background-color:#e4dedf;
    color:#4b4c4d;
    font-family: 'League Spartan Bold', arial;
}

.footer-basic footer {
    display: grid;
    grid-template-areas: 
        "footer-links socials"
        "copyright copyright";
    grid-template-columns: 68% 32%;
}

.footer-links {
    grid-area: footer-links;
}
  
.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
    padding-bottom: 5px;
}
  
.footer-basic li {
    padding:0 10px;
}
  
.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}
  
.footer-basic ul a:hover {
    opacity:1;
}

.footer-basic .footer-links {
    display: grid;
    align-items: start;
    margin-top: 40px;
    grid-template-columns: auto auto auto;
    width: 60%;
    justify-self: end;
    font-size: 20px;
}

.footer-basic .footer-links a { 
    text-decoration: none;
    color: #f21f42; 
}
  
.footer-basic .socials-icons {
    line-height: 1.75;
    padding-bottom:25px;
    grid-area: socials-icons;

}

.socials {
    place-items: start;  
} 

.socials-text {
    font-weight: 800;
    color: #f21f42;
    font-size: 20px;
    padding-left: 20px;
    margin: 40px auto 10px auto;
}
  
.footer-basic .socials-icons > a {
    font-size:24px;
    width:40px;
    height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #f8f9fa;
    margin:0 8px;
    opacity:1;
    background-color: #f8f9fa;
}
  
.footer-basic .socials-icons > a:hover {
    opacity:0.9;
    color: #f8f9fa;
    background-color: #F21F42;
    border:1px solid #F21F42;
}
  
.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:16px;
    color:rgba(34, 34, 34, 0.77);
    margin-bottom:0;
    grid-area: copyright;
}

/* FOOTER END */

/* BLOG PAGE */

#blog-banner
{
    background-size: cover;
    width: 100%;   
}

#blog-nav {
    padding-bottom: 0;  
}

#blog-nav > .navbar-collapse > .navbar-nav > .nav-link {
    margin: auto 22px auto 22px;
    padding: 0.5rem 2rem;
}

#blog-nav > .navbar-nav {
    margin-bottom: 1em;
}

.navbar-border {
    border-bottom: 0.1em solid rgba(58, 44, 44, 0.164);  
}

.grid-container-1 {
    display: -ms-grid;
    display: grid;
    width: 60%;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin: 30px auto 30px auto;
}

.grid-container-1 .grid-item > img { 
    display: block;
    -o-object-fit: fill;
       object-fit: fill;
    max-width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1;
            flex: 1 1;
    min-height: 75%;
}

.blogs-img-border {
    border: 0.5px solid #858585;
}

.grid-container-1 > .grid-item {
    position: relative;
    font-size: calc(1.3rem + 0.6vw);
}

.grid-container-1 > .grid-item > img { 
    height:450px;
    width:100%;
}

.grid-container-1 > .grid-item > .big-img-content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5% 15% 5% 5%;
    background: rgb(0, 0, 0); /* Fallback color */
    background: -webkit-gradient(
    linear,
    left top, left bottom,
    from(hsla(0, 0%, 100%, 0.3)),
    color-stop(8.1%, hsla(0, 0%, 98.73%, 0.301)),
    color-stop(15.5%, hsla(0, 0%, 95.14%, 0.302)),
    color-stop(22.5%, hsla(0, 0%, 89.6%, 0.305)),
    color-stop(29%, hsla(0, 0%, 82.46%, 0.309)),
    color-stop(35.3%, hsla(0, 0%, 74.07%, 0.313)),
    color-stop(41.2%, hsla(0, 0%, 64.8%, 0.318)),
    color-stop(47.1%, hsla(0, 0%, 54.99%, 0.323)),
    color-stop(52.9%, hsla(0, 0%, 45.01%, 0.327)),
    color-stop(58.8%, hsla(0, 0%, 35.2%, 0.332)),
    color-stop(64.7%, hsla(0, 0%, 25.93%, 0.337)),
    color-stop(71%, hsla(0, 0%, 17.54%, 0.341)),
    color-stop(77.5%, hsla(0, 0%, 10.4%, 0.345)),
    color-stop(84.5%, hsla(0, 0%, 4.86%, 0.348)),
    color-stop(91.9%, hsla(0, 0%, 1.27%, 0.349)),
    to(hsla(0, 0%, 0%, 0.35))
    );
    background: -o-linear-gradient(
    top,
    hsla(0, 0%, 100%, 0.3) 0%,
    hsla(0, 0%, 98.73%, 0.301) 8.1%,
    hsla(0, 0%, 95.14%, 0.302) 15.5%,
    hsla(0, 0%, 89.6%, 0.305) 22.5%,
    hsla(0, 0%, 82.46%, 0.309) 29%,
    hsla(0, 0%, 74.07%, 0.313) 35.3%,
    hsla(0, 0%, 64.8%, 0.318) 41.2%,
    hsla(0, 0%, 54.99%, 0.323) 47.1%,
    hsla(0, 0%, 45.01%, 0.327) 52.9%,
    hsla(0, 0%, 35.2%, 0.332) 58.8%,
    hsla(0, 0%, 25.93%, 0.337) 64.7%,
    hsla(0, 0%, 17.54%, 0.341) 71%,
    hsla(0, 0%, 10.4%, 0.345) 77.5%,
    hsla(0, 0%, 4.86%, 0.348) 84.5%,
    hsla(0, 0%, 1.27%, 0.349) 91.9%,
    hsla(0, 0%, 0%, 0.35) 100%
    );
    background: linear-gradient(
    to bottom,
    hsla(0, 0%, 100%, 0.3) 0%,
    hsla(0, 0%, 98.73%, 0.301) 8.1%,
    hsla(0, 0%, 95.14%, 0.302) 15.5%,
    hsla(0, 0%, 89.6%, 0.305) 22.5%,
    hsla(0, 0%, 82.46%, 0.309) 29%,
    hsla(0, 0%, 74.07%, 0.313) 35.3%,
    hsla(0, 0%, 64.8%, 0.318) 41.2%,
    hsla(0, 0%, 54.99%, 0.323) 47.1%,
    hsla(0, 0%, 45.01%, 0.327) 52.9%,
    hsla(0, 0%, 35.2%, 0.332) 58.8%,
    hsla(0, 0%, 25.93%, 0.337) 64.7%,
    hsla(0, 0%, 17.54%, 0.341) 71%,
    hsla(0, 0%, 10.4%, 0.345) 77.5%,
    hsla(0, 0%, 4.86%, 0.348) 84.5%,
    hsla(0, 0%, 1.27%, 0.349) 91.9%,
    hsla(0, 0%, 0%, 0.35) 100%
    );
    color: #fff; 
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    width: 100%; 
    margin: 0;
    height: 100%;
    text-decoration: none;
}

.grid-container-1 > .grid-item > .small-img-content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5% 15% 5% 5%;
    background: rgb(0, 0, 0); /* Fallback color */
    background: -webkit-gradient(
    linear,
    left top, left bottom,
    from(hsla(0, 0%, 100%, 0.3)),
    color-stop(8.1%, hsla(0, 0%, 98.73%, 0.301)),
    color-stop(15.5%, hsla(0, 0%, 95.14%, 0.302)),
    color-stop(22.5%, hsla(0, 0%, 89.6%, 0.305)),
    color-stop(29%, hsla(0, 0%, 82.46%, 0.309)),
    color-stop(35.3%, hsla(0, 0%, 74.07%, 0.313)),
    color-stop(41.2%, hsla(0, 0%, 64.8%, 0.318)),
    color-stop(47.1%, hsla(0, 0%, 54.99%, 0.323)),
    color-stop(52.9%, hsla(0, 0%, 45.01%, 0.327)),
    color-stop(58.8%, hsla(0, 0%, 35.2%, 0.332)),
    color-stop(64.7%, hsla(0, 0%, 25.93%, 0.337)),
    color-stop(71%, hsla(0, 0%, 17.54%, 0.341)),
    color-stop(77.5%, hsla(0, 0%, 10.4%, 0.345)),
    color-stop(84.5%, hsla(0, 0%, 4.86%, 0.348)),
    color-stop(91.9%, hsla(0, 0%, 1.27%, 0.349)),
    to(hsla(0, 0%, 0%, 0.35))
    );
    background: -o-linear-gradient(
    top,
    hsla(0, 0%, 100%, 0.3) 0%,
    hsla(0, 0%, 98.73%, 0.301) 8.1%,
    hsla(0, 0%, 95.14%, 0.302) 15.5%,
    hsla(0, 0%, 89.6%, 0.305) 22.5%,
    hsla(0, 0%, 82.46%, 0.309) 29%,
    hsla(0, 0%, 74.07%, 0.313) 35.3%,
    hsla(0, 0%, 64.8%, 0.318) 41.2%,
    hsla(0, 0%, 54.99%, 0.323) 47.1%,
    hsla(0, 0%, 45.01%, 0.327) 52.9%,
    hsla(0, 0%, 35.2%, 0.332) 58.8%,
    hsla(0, 0%, 25.93%, 0.337) 64.7%,
    hsla(0, 0%, 17.54%, 0.341) 71%,
    hsla(0, 0%, 10.4%, 0.345) 77.5%,
    hsla(0, 0%, 4.86%, 0.348) 84.5%,
    hsla(0, 0%, 1.27%, 0.349) 91.9%,
    hsla(0, 0%, 0%, 0.35) 100%
    );
    background: linear-gradient(
    to bottom,
    hsla(0, 0%, 100%, 0.3) 0%,
    hsla(0, 0%, 98.73%, 0.301) 8.1%,
    hsla(0, 0%, 95.14%, 0.302) 15.5%,
    hsla(0, 0%, 89.6%, 0.305) 22.5%,
    hsla(0, 0%, 82.46%, 0.309) 29%,
    hsla(0, 0%, 74.07%, 0.313) 35.3%,
    hsla(0, 0%, 64.8%, 0.318) 41.2%,
    hsla(0, 0%, 54.99%, 0.323) 47.1%,
    hsla(0, 0%, 45.01%, 0.327) 52.9%,
    hsla(0, 0%, 35.2%, 0.332) 58.8%,
    hsla(0, 0%, 25.93%, 0.337) 64.7%,
    hsla(0, 0%, 17.54%, 0.341) 71%,
    hsla(0, 0%, 10.4%, 0.345) 77.5%,
    hsla(0, 0%, 4.86%, 0.348) 84.5%,
    hsla(0, 0%, 1.27%, 0.349) 91.9%,
    hsla(0, 0%, 0%, 0.35) 100%
    );
    color: #fff; 
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    width: 100%; 
    margin: 0;
    height: 100%;
    text-decoration: none;
}

.grid-container-1 > .grid-item-1 {
    -ms-grid-column-span:2;
    -ms-grid-column: 1;
        grid-column: 1 / span 2;
}
  
.grid-container-1 > .grid-item-4 {
    -ms-grid-column-span:2;
    -ms-grid-column: 2;
        grid-column: 2 / span 2;
}

@media (min-width: 768px) and (max-width: 1178px) {

    .grid-container-1 > .grid-item > h3{
        font-size: calc(1.3rem + 0.3vw);
    }
    
}

.grid-container-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    width: 60%;
    grid-gap: 20px;
    margin: auto;   
}

.grid-container-2 {
    margin-top: 30px;
}

.grid-container-2 .grid-item {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 
        "blogs-img"
        "blogs-text";
        -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    margin-bottom: 50px;
}

.blog-header-image {
    display: grid;
    justify-content: center; 
}

.blogs-img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: blogs-img;
}

.blogs-text {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: blogs-text;
}

.grid-container-2 > .grid-item > img { 
    height: 250px;
    width: 100%;
}

.blogs-text {
    padding-top: 15px;
}

.blogs-sub-header {
    font-size: 18px;
    color: rgba(0,0,0,.54);
    fill: rgba(0,0,0,.54);
}

.blogs-author {
    padding-top: 5px;
}

.author-name {
    text-decoration: none;
    color: #599297;
    font-weight: 400;
    font-style: normal;
}

.date-readtime {
    color: rgba(0,0,0,.54);
    fill: rgba(0,0,0,.54);    
}

/* BLOG PAGE END */

/* CONTENT PAGE */

#blogs {
    max-width: 680px;
    margin: 32px auto auto auto;
}

.author-info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
}

.author-socials {
    -ms-grid-column-align: end;
        justify-self: end;
    font-size: 21px;
}

i {
    text-decoration: none;
}

.social-icons {
    color: #f21f42;
}

.content-img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.content-first-image {
    margin-top: 33px;
}

.article > p {
    margin-top: 2em;
    letter-spacing: -0.003em;
    line-height: 32px;
    font-size: 19px;
    font-weight: 400;
}

/* CONTENT PAGE END */

/* THERAPISTS PAGE */

.navbar > .nb {
    margin-left: 25%;
    color: rgba(0, 0, 0, 0.65); 
}

.navbar > .nb:hover {
    color: #2c3e50; 
}

#therapists-container {
    width: 90%;
}

.mr-right {
    margin-right: 22%;
}

.mr-right1 {
    margin-right: 11%;
}


.mr-t {
    margin-top: 1.5em;
}

.mr-tb {
    margin-top: 56px;
    margin-bottom: 1em;
}

.mr-b {
    margin-bottom: 45px;
}

.mr-b1 {
    margin-bottom: 75px;
}

.border-r {
    border-right: 0.1em solid rgba(58, 44, 44, 0.164);
}

.t-header {
    text-align: center;
}

.t-header > h5 {
    color: rgba(0, 0, 0, 0.55); 
}

#boxes {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25% 25% 25% 25%;
        grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 25px;
}

#profile-card {
    display: -ms-grid;
    display: grid;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.582);
    -ms-grid-rows: 75% 25%;
        grid-template-rows: 75% 25%;
}


#lsearch 
{
    width: 31%;
}

#dropdowns 
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

#info
{   
    display: -ms-grid;   
    display: grid;
    background-color:white;   
    padding: 1.5em;
}

.therapist-name {
    color: rgba(0, 0, 0, 0.75);
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Merienda', cursive;
}

#info > .location {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
}

#links
{       
    background-color: #f21f42;
    color:white;
    padding: 1.5em;
}

.t-links { 
    display: -ms-grid; 
    display: grid;
    text-decoration: none;
    color: white;
}

.t-links:hover {
    color: black;
}

.t-links i {
    font-size: 29px;
    
}

#t-socials 
{
    display: -ms-grid;
    display: grid;
    font-size: 25px;
    -ms-grid-columns: 60px 9px 35px 9px 35px;
        grid-template-columns: 60px 9px 35px 9px 35px;
    
}

.tli {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
}

.tp {
    font-size: 21px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

#boxes > #profile-card > #links > #t-socials > a > i {
    -webkit-text-decoration:white !important;
            text-decoration:white !important;
}

label 
{
    color: #4b4c4d;
}

.search 
{
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
  
.searchTerm 
{
    width: 100%;
    border: 3px solid #F21F42;
    padding: 5px;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    color: #6e6e6e;
}
  
.searchTerm:focus
{
    color: #2c3e50;
}


/* Reset Select */
#dropdowns select 
{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 0 !important;
    background: #c3c3c3;
    background-image: none;
}

/* Remove IE arrow */
select::-ms-expand 
{
    display: none;
}

/* Custom Select */
.select 
{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
}

#dropdowns select 
{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0 .5em;
    color: #2c3e50;
    cursor: pointer;
}

  /* Arrow */
.select::after 
{
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #F21F42;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

  /* Transition */
.select:hover::after 
{
    color: #fff;
}

.intro 
{
    margin: 11% auto;
}

.clickshow {
    cursor: pointer;
}

.name-desig-img {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
}

.prof-img {
    -o-object-fit: contain;
       object-fit: contain;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.p-img {
    -ms-grid-column-align: end;
        justify-self: end;
}

/* THERAPISTS PAGE END */

/* PROFILE PAGE */

.t-body {
    font-family: 'Titillium Web', sans-serif;
    Overflow-x:hidden;
    margin: 0;
}

.therapist-container h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 1.2;
}

.bg-lighter {
    background-color: #fff;
}

.bg-slighty-dark {
    background-color: #f3f3f3;
}

.therapist-container p, li {
    font-size: 1.15rem;
}

.therapist-banner {
    grid-area: therapist-banner;
    background-image: url('../images/profile-banner1.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.therapist-name-about {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 35% 65%;
        grid-template-columns: 35% 65%;
        grid-template-areas: 
        "therapist-name therapist-name"
        "profile-photo profile-about";
    padding-bottom: 120px;
}

.therapist-name {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: therapist-name;
    margin: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 40px auto 30px auto;
}

.therapist-photo {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: profile-photo;
    -ms-grid-row-align: end;
    -ms-grid-column-align: end;
    place-self: end;
}

.profile-about {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: profile-about;
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
    place-self: center;
    margin-left: 40px;
    padding-right: 190px;
}

.therapist-services {
    display: -ms-grid;
    display: grid;
    grid-area: therapist-services; 
        grid-template-areas: 
        "services specialization"; 
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
    height: 500px;
}

.mhs-img {
    grid-area: mhs-img;
}

.services {
    /* -ms-grid-row: 1;
    -ms-grid-column: 1; */
    margin: 36.5px auto auto auto;
    grid-area: services;
}

.specialization {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    margin: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
   -ms-grid-column-align: end;
       justify-self: end;
    grid-area: specialization;
}

.therapist-other {
    grid-area: therapist-other;
    padding-top: 40px;
    padding-bottom: 40px;
}

.therapist-services ul {
    display: block;
}
  
.therapist-services ul li {
    display: block;
    position: relative;
}
  
.therapist-services ul li:not(:last-child) {
    margin-bottom: 16px;
}
  
.therapist-services ul li:before {
    content: "";
    position: absolute;
    top: 1.2em;
    left: -30px;
    margin-top: -.9em;
    background: -o-linear-gradient(45deg, #f69ec4, #f9dd94);
    background: linear-gradient(45deg, #f69ec4, #f9dd94);
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

.therapist-contact {
    display: -ms-grid;
    display: grid;
    grid-area: therapist-contact;
    width: 100%;
    height: 500px;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
}

.contact-me {
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
    place-self: center;
}

.therapist-map {
   -ms-flex-item-align: center;
       -ms-grid-row-align: center;
       align-self: center;
   -ms-grid-column-align: start;
       justify-self: start;
}

.prof-nav .navbar-nav .nav-link {
    color: #000000;
    font-size: 1.25em;
}
.prof-nav .navbar-nav .nav-link:hover{
    color: #F21F42;
}

.prof-nav .navbar-nav .social-fb{
    color: #1877f2;
}

.social-in .fab {
    background: #d6249f;
    background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.social-in .fab:hover{
    background: #F21F42;
    background-clip: text; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.prof-nav .navbar-nav .social-tw{
    color: #1da1f2;
}

.prof-nav .navbar-nav .nav-social-link .fab {
    font-size: 1.25em;    
}

.sm-icons {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;

}

@media only screen and (max-width: 960px) {
    .sm-icons .nav-item {
    padding-right: 1em;
  }
}

.therapist-banner-image {
    top: 0; 
    left: 0; 
    max-width: 100%;
    /* Preserve aspect ratio */
    min-width: 100%;
    min-height: 100%;
    margin-bottom: 25px;   
}

.therapist-image {
    width: auto;
    height: 500px;
    border-radius: 5px;
}

.therapist-name h1 {
    position:relative; 
    font-size:32px; 
    font-weight:700;  
    letter-spacing:0px; 
    text-transform:uppercase; 
    text-align:center; 
    margin:auto; 
    white-space:nowrap; 

    padding:5px 11px 5px 11px;

}

/* .therapist-name h1:before, .therapist-name h1:after {
    background-color: #c50000;
    position:absolute; 
    content: '';
    height: 7px;
    width: 7px; border-radius:50%;
    bottom: 20px;
} */

.therapist-name h1:before {
    left:-20px;
}

.therapist-name h1:after {
    right:-20px;
}

/* .custom-heading2 h2 {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.5em;
    position: relative;
} */

.profile-about h1 {
    margin-bottom: 25px;
}

.profile-about .about-me, .services-specialization, .contact-me {
    margin-bottom: 20px;
}

.contact-me {
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
    place-self: center;   
}

#yt-iframe {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

video.is-loading {
    opacity: 0.4;
    pointer-events: none;
    border: 2px solid red;
}

.therapist-footer {
    display: -ms-grid;
    display: grid;
    background-color: #38383b;
    height: 75px;
}

.therapist-footer .copyright {
    color: #fff;
    margin-top: 31px;
}

/* PROFILE PAGE END */

/* FOR PROFESSIONALS PAGE */

.fp-form{
	width: 60%;
	padding: 20px 12px 10px 20px;
	font-size: 18px;
    margin: auto;
}

.fp-form-heading{
	font-weight: 700;
    font-style: italic;
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
	font-size: 18px;
	padding-bottom: 3px;
}

.fp-form label {
	display: block;
	margin: 0px 0px 25px 0px;
}

.fp-form .label {
	width: 156px;
	font-weight: 500;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
}

.validation_error{
    font-weight: 500;
} 

.fp-form span.required {
	color:red;
}

.fp-form .tel-number-field {
	width: 48%;
}

.fp-form input.input-field, .fp-form .select-field{
	width: 48%;	
}

.fp-form input.input-field, 
.fp-form .tel-number-field, 
.fp-form .textarea-field, 
.fp-form .select-field{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
}

.fp-form .input-field:focus, 
.fp-form .tel-number-field:focus, 
.fp-form .textarea-field:focus,  
.fp-form .select-field:focus {
	border: 1px solid #F21F42;
}

.fp-buttons {
    padding-left: 156px;
}

.mandatory_text {
    margin-left: 156px;
    font-weight: 600;
    font-style: italic;
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
	font-size: 18px;
	padding-bottom: 3px;
}

/* FOR PROFESSIONALS PAGE END */

/* CHANGE LAYOUT FOR MOBILE DEVICES */

@media (min-width: 320px) and (max-width: 768px) {
    .row {   
      -webkit-box-orient: vertical;   
      -webkit-box-direction: normal;   
          -ms-flex-direction: column;   
              flex-direction: column;
    }

    .grid-container-1 { 
        width: 100%;
    }

    .grid-container-1 .grid-item-1 {
        -ms-grid-column-span:3;
        -ms-grid-column: 1;
            grid-column: 1 / span 3;
    }

    .grid-container-1 .grid-item-2 {
        -ms-grid-column-span:3;
        -ms-grid-column: 1;
            grid-column: 1 / span 3;
    }

    .grid-container-1 .grid-item-3 {
        -ms-grid-column-span:3;
        -ms-grid-column: 1;
            grid-column: 1 / span 3;
    }

    .grid-container-1 .grid-item-4 {
        -ms-grid-column-span:3;
        -ms-grid-column: 1;
            grid-column: 1 / span 3;
    }

    .grid-container-2 {
        -ms-grid-columns: auto;
            grid-template-columns: auto;  
        width: 100%;
    }  

    .footer-basic footer {
        display: grid;
        grid-template-areas: 
        "footer-links"
        "socials"
        "copyright";
        grid-template-columns: 100%;
    }
     
    .socials-text {
        grid-area: socials-text;
        padding-left: 0;
        margin-top: 10px;
    }
     
    footer .socials {
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: 
            "socials-text"
            "socials-icons";
        place-items: center;
    }
     
    footer .socials-icons {
        display: grid;
        place-items: center;
        grid-template-columns: auto auto;
    }
     
    .footer-basic .footer-links {
        display: grid;
        place-items: center;
        margin-top: 40px;
        grid-template-columns: auto;
        width: 100%;
        grid-template-rows: 60px 60px 60px;
    }
}

@media (min-width: 768px) {
    .row {   
        -webkit-box-orient: horizontal;   
        -webkit-box-direction: normal;   
            -ms-flex-direction: row;   
                flex-direction: row;
      }  
      
}



/* CHANGE LAYOUT FOR MOBILE DEVICES END */


.custom-carousel {
    margin: 30px auto 30px auto;
}

.custom-carousel-text {
    margin: auto;
}

/* #text1 {
    visibility: visible;
}

#text2 {
    display: none;    
}

#text3 {
    display: none;     
} */

.t-footer footer {
    display: grid;
    grid-template-areas: 
        "copyright";
    grid-template-columns: 100%;
}

.d-about {
    display: grid;
    grid-template-columns: auto auto;
}

.d-about-text {
    background-color: #eeddbd;
    margin: 111px 89px 35px auto;
    padding: 25px 35px 25px 35px;
    -webkit-box-shadow: rgba(0,0,0,0.25) 0 3px 11px 0;
    box-shadow: rgba(0,0,0,0.25) 0 3px 11px 0;
    transform: translateX(-25px);
}

.d-about-header {
    padding-left: 5px;
    font-size: 62px;
    font-weight: 600;
}

.d-about {
    display: grid;
    grid-template-columns: 50% 50%;
}

.d-about-para {
    font-size: 18px;
}

.d-about-img img {
    width:100%;
    height:100%;
    object-fit: cover;
    overflow: hidden;
}